*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h3{
  text-align: center;
  margin: 0 20px;
  margin-bottom: 25px;
}
.form-container{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.form-box{
}

.input-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background-color: rgb(230, 230, 230);
  padding: 6px 10px;
  border-radius: 7px;
}

input{
  border: none;
}
button{
  border: none;
  background-color: #93e593;
  padding: 6px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.product-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  margin-bottom: 5px;
}

