*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --grey-bg: rgb(230, 230, 230)
}
h1, h3{
  text-align: center;
  margin: 0 20px;
  margin-bottom: 25px;
}
.form-container{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.form-box{
}

.input-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background-color: var(--grey-bg);
  padding: 6px 10px;
  border-radius: 7px;
  border-bottom: 1px solid rgb(148, 148, 148);
}

input{
  border: none;
}
button{
  border: none;
  background-color: #93e593;
  padding: 6px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.product-list-container{
  display: flex;
  margin: 0 25vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.one-product{
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(148, 148, 148);
  background-color: var(--grey-bg);
  padding: 6px 10px;
  border-radius: 8px;
}

.display{
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 10%;
}

.options{
  display: flex;
  justify-content: space-between;
  gap: 7px;
  margin-top: 5px;
  align-items: center;
}

.link{
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.edit{
  background-color: rgb(224, 224, 155);
}
.deleto{
  background-color: rgb(224, 150, 150);
}

ul > p {
  font-size: 18px;
}



